:root {
  --white:#FFFFFF;

  --gray-100: #E1E1E6;
  --gray-200: #C4C4CC;
  --gray-300: #8D8D99;
  --gray-400: #7C7C8A;
  --gray-500: #323238;
  --gray-600: #202024;
  --gray-700: #121214;
  --gray-800: #29292E;

  --green: #00875F;
  --green-light: #00B37E;

  --red-danger: #F75A68;
}

:focus {
  outline: none;
  padding: 2px;
  box-shadow: 0 0 0 1px var(--green);
  border-radius: 8px;
}

html {
  font-size: 62.5%; /* 1rem will be 10px (10px/16px = 62.5%) */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  font-size: 1.6rem;
}

body, input, button, textarea { 
  color: var(--gray-100);
  background: var(--gray-700);

  font-family: 'Roboto', sans-serif;

  text-rendering: optimizeLegibility; /* Improve readability */
  font-smooth: always; /* make fonts smoother */
  -webkit-font-smoothing: antialiased; /* improves font edge smoothing */
}