.headerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;

  background: var(--gray-600);
}

strong {
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
  padding: 2rem 0;

}