/* Container */
.post {
  padding: 4rem 3rem;
  border-radius: 8px;
  background: var(--gray-600);

  cursor: default;
}

/* Cabeçalho do post */
.post>header {
  display: flex;
  justify-content: space-between;
}

/* Informações do autor */
.author {
  display: flex;
  gap: 1.6rem;
}

/* Nome e ocupação */
.profile>strong {
  color: var(--gray-100);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
}

.profile>span {
  display: block;
  color: var(--gray-300);
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

/* Data da publicação do post */
time {
  padding-left: 2rem;

  color: var(--gray-300);
  font-family: Roboto;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}


/* Conteúdo do post */
.content {
  margin-top: 2.4rem;
}

.content>p {

  padding: 1rem 0;

  color: var(--gray-200);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%
}

/* Etiquetas e links */
.content>.links>p>a,
.content>p>a {
  color: var(--green);
  font-weight: 700;
  text-decoration: none;
}

.links {
  display: flex;
  gap: 1rem;
}

/* Formulário de coméntarios */
.commentForm {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.6rem;

  border-top: 1px solid var(--gray-500);
  padding-top: 2.4rem;
  margin-top: 2.4rem;
}

.commentForm>label {
  color: var(--gray-100);
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
}

.commentForm>textarea {
  width: 100%;
  padding: 1.6rem;
  resize: none;
  border-radius: 8px;

}

.commentForm>button[type="submit"] {
  padding: 1.4rem;
  color: var(--white);
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  background: var(--green);
  border-radius: 8px;
  border: none;

  cursor: pointer;
  transition: all 200ms;

  /* Botão ficará oculto inicialmente */
  visibility: hidden;
  max-height: 0%;
  display: none;
}

.commentForm:focus-within>button[type="submit"] {
  visibility: visible;
  max-height: none;
  opacity: 1;
  display: inline-block
}

.commentForm>button[type="submit"]:not(:disabled):hover {
  background: var(--green-light);
}

.commentForm>button[type="submit"]:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}